# Terraform state files
*.tfstate
*.tfstate.*

# Terraform variable files (may contain sensitive data)
terraform.tfvars.json
*.tfvars.json
*.tfvars
!terraform.tfvars.json.sample
!examples/*.tfvars.json

# Local .terraform directories
**/.terraform/*

# Crash log files
crash.log
crash.*.log

# Ignore override files as they are usually used to override resources locally
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore plan files
*.tfplan

# Ignore private key files
*.pem

# terraform lock file
.terraform.lock.hcl
